
# Created by https://www.gitignore.io/api/vapor

### Vapor ###
Config/secrets
setup
### Vapor Patch ###
.build
xcuserdata
*.xcodeproj
DerivedData/
.DS_Store
/Packages
Package.resolved
# End of https://www.gitignore.io/api/vapor
